body, header, [id="gallery-slider"] {
	padding-top: 50px; /* Aligns with navbar */
}

body {
	/*Typography*/
	font-family: 'Raleway', sans-serif;
	text-align: center;

	/*Background image */
	background: url(/images/body-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Typography*/
h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	font-size: 4em;
	}

h2, small {
	font-family: 'Architects Daughter', cursive;
	font-size:3em;
}

h3 {
	font-family: 'Amatic SC', cursive;
	font-size:3em;
}

h4 {
	font-family: 'Archivo Black', sans-serif;
	font-size:3em;
}
span {
	color: rgb(255, 219, 0);
}

blockquote {
	font-size: 1em;
}
/* Navigation bar */
nav {
}
	nav li {
		display: inline-block;
		margin: 10px;
		font-family: 'Raleway', sans-serif;
	}

.navbar {
	background-color: white;
	border-bottom: medium solid rgb(178, 18, 18);
}

.icon-bar {
  display: block;
  width: 120px;
  height: 12px;
  background-color: rgb(125, 185, 232);
  border-radius: 3px;
  margin: 16px 0;
}

.btn-navbar {
   float: right;
   background-color: rgba(125, 185, 232, 0.25);
   margin: 5px;
   display: none;
}


/*All header code */
header {
	color: White;
}
	
/*Home Header */
	.home header {
		/*Floating box*/
		background-color: rgba(255, 255, 255, 0.6);
		padding: 1em;
	}

section {
	/*Background gradiant for sections*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+62,fcfcfc+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 1%, #ffffff 62%, #fcfcfc 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 1%,#ffffff 62%,#fcfcfc 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #ffffff 1%,#ffffff 62%,#fcfcfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
	
.box, section, .registry {
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.margin-top, .registry {
	margin-top: 2em;
}

.margin-bottom {
	margin-bottom: 2em;
}

section {
	margin-bottom: 15em;
}

.padding, section, .registry {
	padding: 1em 3em 2em 3em;
}

.address {
	font-size: 1.05em;
}
	.address blockquote {
		border-left: none;
	}

/*Registry*/
.registry-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.registry-row a {
   width: 25%;
}

.registry-row img {
   width: 100%;
}

/*Everything Madison*/

li {
	list-style: none;
}

/*Gallery*/
.img-thumbnail {
	max-height: 140px;
}

/*Responsive sizing*/
@media (max-width: 989px) {
	body {
		font-size: 25px;
	}

   .btn-navbar {
      display: block;
   }

   .nav-collapse.collapsed {
      display: none;
   }

   ul.nav {
      clear: both;
   }

   ul.nav li {
      width: unset;
      display: block;
      margin-left: 5px;
      margin-right: 5px;
   }

   ul.nav > li > a {
      text-align: left;
   }

   .home {
   	background: #1e5799 url(/images/header-background.jpg) right no-repeat;
   	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }

   	.home header {
		margin-top: 10%;
		margin-bottom:100%;
	}

   	.home h1 {
		color: #1e5799;
		font-size: 3em;
	}

	.home h2, .home h3 {
		font-size: 2em;
		color: rgb(178, 18, 18);
	}

}

@media (min-width: 990px) {
	body {
		font-size:16px;
	}

	.home {
		background: #1e5799 url(/images/header-background.jpg) center center no-repeat;
		background-size: 100% auto;
		}

	.home header {
		margin-top: 10%;
		margin-bottom:10%;
	}

	.home h1 {
		color: #1e5799;
		font-size: 4em;
	}

	.home h2, .home h3 {
		font-size: 3em;
		color: rgb(178, 18, 18);
	}

}



/* font families:
font-family: 'Amatic SC', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Raleway', sans-serif;
*/

/* color scheme:
	Blues:
		Darkest blue: #1e5799
		Darker blue: #207cca
		Lighter blue: #4494d6
		Lightest blue: #7db9e8;

	Red:
		Darker red: rgb(178, 18, 18);
		Lighter red: rgb(255, 10, 0); ff0a00

	Yellow: rgb(244, 255, 25)
*/

	/*Pattern
	background-image:
	radial-gradient(closest-side, transparent 0%, transparent 75%, #207cca 76%, #207cca 85%, #7db9e8 86%, #7db9e8 94%, #4494d6 95%, #4494d6 103%, #207cca 104%, #207cca 112%, #1e5799 113%, #1e5799 121%, #7db9e8 122%, #7db9e8 130%, #4494d6 131%, #4494d6 140%),
	radial-gradient(closest-side, transparent 0%, transparent 75%, #207cca 76%, #207cca 85%, #7db9e8 86%, #7db9e8 94%, #4494d6 95%, #4494d6 103%, #207cca 104%, #207cca 112%, #1e5799 113%, #1e5799 121%, #7db9e8 122%, #7db9e8 130%, #4494d6 131%, #4494d6 140%);
	background-size: 110px 110px;
	background-color: #1e5799;
	background-position: 0 0, 55px 55px;*/
