body, header, [id="gallery-slider"] {
	padding-top: 50px; /* Aligns with navbar */
}

body {
	/*Typography*/
	font-family: 'Raleway', sans-serif;
	text-align: center;

	/* Background Gradiant Code */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+0,4494d6+9,7db9e8+100 */
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #207cca 0%, #4494d6 9%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 0%,#4494d6 9%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1e5799 0%,#207cca 0%,#4494d6 9%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* Navigation bar */
nav {
}
	nav li {
		display: inline-block;
		margin: 10px;
		font-family: 'Raleway', sans-serif;
	}

.navbar {
	background-color: white;
	border-bottom: medium solid rgb(178, 18, 18);
}

/*Home Header */
.home {
	background-image:
	radial-gradient(closest-side, transparent 0%, transparent 75%, #207cca 76%, #207cca 85%, #7db9e8 86%, #7db9e8 94%, #4494d6 95%, #4494d6 103%, #207cca 104%, #207cca 112%, #1e5799 113%, #1e5799 121%, #7db9e8 122%, #7db9e8 130%, #4494d6 131%, #4494d6 140%),
	radial-gradient(closest-side, transparent 0%, transparent 75%, #207cca 76%, #207cca 85%, #7db9e8 86%, #7db9e8 94%, #4494d6 95%, #4494d6 103%, #207cca 104%, #207cca 112%, #1e5799 113%, #1e5799 121%, #7db9e8 122%, #7db9e8 130%, #4494d6 131%, #4494d6 140%);
	background-size: 110px 110px;
	background-color: #1e5799;
	background-position: 0 0, 55px 55px;
}

	.home header {
		background-color: #FFFFFF;
		padding: 20px;
		margin-top: 160px;
	}

	.home img {
		padding: 0px;
	}

	.home h1 {
		color: #1e5799;
	    font-size: 75px;
	}

	.home h2, .home h3 {
		font-size: 50px;
		color: rgb(178, 18, 18);
	}

/*All heading code */
header {
	color: White;
}
	
/*Typography*/
h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	font-size: 75px;
	}

h2, small {
	font-family: 'Architects Daughter', cursive;
	font-size:40px;
}

h3 {
	font-family: 'Amatic SC', cursive;
	font-size:40px;
}

h4 {
	font-family: 'Archivo Black', sans-serif;
	font-size:40px;
}
span {
	color: rgb(255, 219, 0);
}

h1, h2, h3, h4, p, small {
	text-align: center;
}

section {
	/*Background gradiant for sections*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+62,fcfcfc+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 1%, #ffffff 62%, #fcfcfc 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 1%,#ffffff 62%,#fcfcfc 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #ffffff 1%,#ffffff 62%,#fcfcfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
	
.box, section, .registry {
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.margin-top, .registry {
	margin-top: 20px;
}

.margin-bottom, section {
	margin-bottom: 20px;
}

.padding, section, .registry {
	padding: 1em 3em 2em 3em;
}

.address {
	font-size: 17.5px;
}
	.address blockquote {
		border-left: none;
	}

/* Registry section */
.registry-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.registry-row a {
   width: 25%;
}

.registry-row img {
   width: 100%;
}

/* Everything Madison */

li {
	list-style: none;
}

/*Gallery page */
.img-thumbnail {
	max-height: 140px;
}

/* font families:
font-family: 'Amatic SC', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Raleway', sans-serif;
*/

/* color scheme:
	Blues:
		Darkest blue: #1e5799
		Darker blue: #207cca
		Lighter blue: #4494d6
		Lightest blue: #7db9e8;

	Red:
		Darker red: rgb(178, 18, 18);
		Lighter red: rgb(255, 10, 0); ff0a00

	Yellow: rgb(244, 255, 25)
*/
/* All colors
background-image:
radial-gradient(closest-side, transparent 0%, transparent 75%, #207cca 76%, #207cca 85%, #7db9e8 86%, #7db9e8 94%, #FFFFFF 95%, #FFFFFF 103%, #f4ff19 104%, #f4ff19 112%, #1e5799 113%, #1e5799 121%, #FFFFFF 122%, #FFFFFF 130%, #4494d6 131%, #4494d6 140%),
radial-gradient(closest-side, transparent 0%, transparent 75%, #207cca 76%, #207cca 85%, #7db9e8 86%, #7db9e8 94%, #FFFFFF 95%, #FFFFFF 103%, #f4ff19 104%, #f4ff19 112%, #1e5799 113%, #1e5799 121%, #FFFFFF 122%, #FFFFFF 130%, #4494d6 131%, #4494d6 140%);
background-size: 110px 110px;
background-color: rgb(178, 18, 18);
background-position: 0 0, 55px 55px; */