#story section {
   padding-top: 2em;
}

#timeline-container {
   position: relative;
}

#timeline {
   position: absolute;
   left: 22%;
   transform: translateX(-50%);
   width: 5px;
   background-color: black;
} 

.dot, .line, .date, .event {
   position: absolute;
   transform: translateY(-50%);
}

.dot {
   width: 15px;
   height: 15px;
   left: 22%;
   transform: translate(-50%, -50%);
   border: 3px black solid;
   border-radius: 100%;
   background-color: white;
}

.line {
   z-index: 0;
   height: 2px;
   left: 22%;
   background-color: black;
}

 .line.column1 {
    width: 2%;
 }
 
 .line.column2 {
    width: 27.5%;
 }
 
 .line.column3 {
    width: 53.5%;
 }

.date {
   right: 80%;
   font-family: 'Architects Daughter', cursive;
   font-size: 20px;
   font-weight: bold;
}

.event {
   z-index: 1;
   max-width: 25.5%;
   padding: 0 1em;
   transform: translateY(-17px);
   text-align: left;
}

 .event.column1 {
    left: 23%;
 }
 
 .event.column2 {
    left: 48.75%;
 }
 
 .event.column3 {
    left: 74.5%;
 }

   .event .title {
      font-weight: bold;
      font-size: 24px;
      font-family: 'Amatic SC', cursive;
   }

   .event .description {
      font-size: 16px;
   }
