<section ng-controller="ActivityController as actCtrl">
	<div class="row">
		<header class="col-md-12">
			<h1>Everything Madison</h1>
			<h2>A Fun time in the Mad City</h2>
			<h3>#HouseCrowlack</h3>
		</header>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<p>
				Explore all of the amazing things that keep us living in Madison!
			</p>
		</div>
	</div>
	<!--Original set-up - break glass in case of Angular difficulties
	<div class="row">
		<div class="col-md-offset-2 col-md-9">
			<ul class = "list-group">
				<li class="list-group-item" ng-repeat="activity in actCtrl.list">
					{{activity.category}}
					<ul>
						<li ng-repeat="field in activity.items">
							<h3>{{field.name}}</h3>
							<p>{{field.description}} - 				{{field.link}}</p>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div> -->
	<div class="row" ng-repeat="activity in actCtrl.list">
		<div class="col-md-offset-2 col-md-1">
			<h2>{{activity.category}}</h2>
		</div>
		<div class="col-md-7">
			<ul>
				<li ng-repeat="field in activity.items">
					<div class="activity">
						<h3><a ng-href="{{field.link}}">{{field.name}}</a></h3><br>
						<p>{{field.description}}</p><br>
						<a ng-href={{field.map}}>Map</a>
					</div>
				</li>
			</ul>
		</div>
</section>