<!doctype html>
<html ng-app="app">
	<head>
		<title>Tom and Carrie's Wedding</title>
		<!--Bootstrap CDN, Font, and CSS file -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Architects+Daughter|Archivo+Black|Francois+One|Quicksand|Raleway|Reenie+Beanie" rel="stylesheet">
		<link rel="stylesheet" href="style.css">
		<!--Angular CDN, Javascript file -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
		<script type = "text/javascript" src="app.js"></script>
	</head> 

	<body>
		<div ng-controller="PageController as page">

			<!--Create separate header.html file -->
			<nav class= "navbar navbar-fixed-top">
				<div class="container-fluid">
					<div>
						<ul class="nav nav-tabs nav-justified">
							<!--PageController functions to set page to active-->
							<li ng-class="{ active:page.isSet(1) }">
								<a href ng-click="page.setPage(1)">Home</a>
							</li>
							<li ng-class="{ active:page.isSet(2) }">
								<a href ng-click="page.setPage(2)">Our Story</a>
							</li>
							<li ng-class="{ active:page.isSet(3) }">
								<a href ng-click="page.setPage(3)">Our Wedding</a>
							</li>
							<li ng-class="{ active:page.isSet(4) }">
								<a href ng-click="page.setPage(4)">Everything Madison</a>
							</li>
							<li ng-class="{ active:page.isSet(5) }">
								<a href ng-click="page.setPage(5)">Our Registries</a>
							</li>
							<li ng-class="{ active:page.isSet(6) }">
								<a href ng-click="page.setPage(6)">Gallery</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="container-fluid">
				<div class="jumbotron">
					<h1>Tom and Carrie's Wedding</h1>
					<h2>#HouseCrowlack</h2>
				</div>
			</div>
			<!--End header.html file -->

			<div class="container">
				<home-page ng-show="page.isSet(1)"></home-page>

				<our-story ng-show="page.isSet(2)"></our-story>

				<!--Create separate our-wedding.html file -->
				<our-wedding ng-show="page.isSet(3)"></our-wedding>
				<section ng-show="page.isSet(3)">
					<h1>Our Wedding</h1>
					<h2>Nuptial Logistics</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						<br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</section>
				<!--End our-wedding.html file -->

				<!--Create separate madison.html file -->
				<section ng-show="page.isSet(4)">
					<h1>Everything Madison</h1>
					<h2>A Fun time in the Mad City</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						<br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</section>
				<!--End madison.html file -->

				<!--Create separate our-registries.html file -->
				<section ng-show="page.isSet(5)">
					<h1>Our Registries</h1>
					<h2>Stuff we Like</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						<br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</section>
				<!--End our-registries.html file -->

				<!--Create separate gallery.html file -->
				<section ng-show="page.isSet(6)">
					<h1>Gallery</h1>
					<h2>A curated display of our faces</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						<br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</section>
				<!--End gallery.html file -->

			</div>
		</div>
	</body>
</html>