<!doctype html>
<html ng-app="app">
	<head>
		<title>Tom and Carrie's Wedding</title>
		<!--Bootstrap CDN, Font, and CSS file -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Architects+Daughter|Archivo+Black|Francois+One|Quicksand|Raleway|Reenie+Beanie" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/timeline.css">
		<link rel="favicon" href="">
		<!--Bootstrap.js-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
		<!--Angular CDN-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
		<!--Javascripts-->
		<script type ="text/javascript" src="javascript/app.js"></script>
		<!--Javascript Data-->
	    <script type="text/javascript" src="javascript/timeline-data.js"></script>
	    <script type="text/javascript" src="javascript/madison-data.js"></script>
	    <script type="text/javascript" src="javascript/gallery-data.js"></script>
	    <!--Angular Controllers-->
	    <script type="text/javascript" src="javascript/timeline.js"></script>
	    <script type="text/javascript" src="javascript/gallery.js"></script>
	</head> 
	<body>
		<div class="container-fluid">
			<!--Site navigation bar -->
			<nav class= "navbar navbar-fixed-top ng-scope" ng-controller="NavBarCtrl">
				<!--Collapsible Menu-->
				<button class="btn btn-navbar" ng-click="isCollapsed = !isCollapsed">
			   		<span class="icon-bar"></span>
			    	<span class="icon-bar"></span>
			   		<span class="icon-bar"></span>
			   	</button>
				<!-- Hyperlinks for navigation -->
				<div class="nav-collapse collapsed" ng-class="{ collapsed: isCollapsed }">
					<ul class="nav nav-pills nav-justified">
						<li>
							<a smooth ng-href="#" ng-click="isCollapsed = true" ><span class="glyphicon glyphicon-home"></span> Home</a>
						</li>
						<li>
							<a smooth ng-href="#story" ng-click="isCollapsed = true" ><span class="glyphicon glyphicon-pencil"></span> Our Story</a>
						</li>
						<li>
							<a smooth ng-href="#wedding" ng-click="isCollapsed = true" ><span class="glyphicon glyphicon-heart"></span> Our Wedding</a>
						</li>
						<li>
							<a smooth ng-href="#logistics" ng-click="isCollapsed = true" ><span class="glyphicon glyphicon-plane"></span> Hotels and Travel</a>
						</li>
						<li>
							<a smooth ng-href="#madison" ng-click="isCollapsed = true" ><span class="glyphicon glyphicon-cutlery"></span> Things to Do in Madison</a>
						</li>
						<li>
							<a smooth ng-href="#registries" ng-click="isCollapsed = true" ><span class="glyphicon glyphicon-gift"></span> Our Registries</a>
						</li>
						<li>
							<a smooth ng-href="#photos" ng-click="isCollapsed = true" ><span class="glyphicon glyphicon-camera"></span> Photos</a>
						</li>
					</ul>
				</div>	
			</nav>
			<home id="home"></home>
		</div>
		<div class="container">
			<our-story id="story"></our-story>
			<our-wedding id="wedding"></our-wedding>
			<hotels-and-travel id="logistics"></hotels-and-travel>
			<things-to-do-in-madison id="madison"></things-to-do-in-madison>
			<our-registries id="registries"></our-registries>
			<photos id="photos"></photos>
		</div>
	</body>
</html>
