<div class="row">
	<header class="col-md-12">
		<h1>Hotels and Travel</h1>
	</header>
</div>
<section>
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<h2>Hotel Blocks</h2>
         <div class="margin-top">
			   <h3>Park Hotel Downtown</h3>
				<blockquote>
             22 S Carroll St<br>
             Madison, WI 53703
            </blockquote>
            <p>Located in the heart of downtown Madison, this hotel is a five minute walk from the venue.</p>
            <p>You can book in the block two ways:</p>
            <ul class="options">
             <li>Call the main hotel number, (608) 285-8000, and ask to book in the Crow &amp; Smilack block</li>
             <li><a href="https://www.bestwestern.com/en_US/book/hotel-rooms.50061.html?groupId=2B4VB2F9">Book online via the Best Western website</a></li>
            </ul>
         </div>

         <div class="margin-top">
			   <h3>Double Tree Downtown</h3>
         </div>
         <p>Slightly more economical, while still in downtown Madison. You can only <a href="http://doubletree.hilton.com/en/dt/groups/personalized/M/MSNDTDT-CSW-20180601/index.jhtml?WT.mc_id=POG">book in the block from the DoubleTree Website</a>.</p>

			<h2>Other Hotels</h2>
         <div class="margin-top">
			   <h3>Sheraton Madison &amp; Holiday Inn Express</h3>
            <blockquote>
             706 John Nolen Dr<br>
             Madison, WI 53713
            </blockquote>
            <blockquote>
             610 John Nolen Dr<br>
             Madison, WI 53713
            </blockquote>
            <p>A less expensive option since they're off the isthmus. Less than a 10 minute drive from downtown - and it's one of the prettiest drives in Madison!</p>
         </div>
		</div>
	</div>
	<div class="row margin-top">
		<div class="col-md-offset-1 col-md-2">
			<h2>Airports</h2>
		</div>
		<div class="col-md-8">
			<ul>
				<li>
					<h3><a href="https://www.msnairport.com/" target="_blank">Madison - Dane County Regional Airport (MSN)</a></h3>
					<p>
						The closest and simplest airport is the Dane County Regional Airport (MSN).
						MSN is only a 15 drive to Madison downtown - the airport has rental cars available, multiple taxi services are available for pickup, and some hotels provide courtesy shuttles for guests.
						Unfortunately, MSN is a smaller airport. 
						Madison may not have direct flights to your airport, and it can be expensive to fly in.
					</p>
					<a href="https://goo.gl/maps/FBjUh38Av9C2" target="_blank">Map</a>
				</li><br/>
				<li>
					<h3><a href="https://www.mitchellairport.com/" target="_blank">Milwaukee - General Mitchell International Airport (MKE)</a></h3>
					<p>
						The second closest airport is near downtown Milwaukee, MKE.
						MKE is a 1 hour and 30 minutes drive from Madison downtown. 
						Rental cars are available, and there is also a Greyhound route to Madison. 
						While larger than MSN, MKE still may not have direct flights to all cities. 
					</p>
					<a href="https://goo.gl/maps/SJqnG4eJVyz" target="_blank">Map</a>
				</li><br/>
				<li>
					<h3><a href="http://www.airport-ohare.com/" target="_blank">Chicago - O'Hare Airport (ORD)</a></h3>
					<p>
						If you know someone or care to make a stop in Chicago, ORD is a 2 hour drive from Madison downtown. 
						In addition to Rental cars, there are a few bus services (Megabus, Greyhound) that have routes to Madison. 
						ORD has direct lines to most airports. 
						Since it's the largest airport nearby, flights are typically cheaper with more options.
					<p>
					<a href="https://goo.gl/maps/9Lhv1BtY4f72" target="_blank">Map</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row margin-top margin-bottom">
		<div class="col-md-offset-1 col-md-2">
			<h2>Driving Routes</h2>
		</div>
		<div class="col-md-8">
			<ul>
				<li>
					<h3>From the East</h3>
					<p>	
						I-80/I-90 West is the main route to Madison.
						The roads do include tolls - the drive is much easier with an I-Pass or EZPass.
						Typically traffic is at its worst around Chicago, so check for route options that keep farther south in Illinois.
					</p>
				</li><br/>
				<li>
					<h3>From the South</h3>
					<p>
						Unless you intend to stop in Chicago, if you are able to avoid the city you will avoid a majority of traffic.
						Taking I-39 North to Rockford could cut a large amount of time.
					</p>
				</li><br/>
				<li>
					<h3>From the West</h3>
					<p>
						We have driven a number of routes from the West, and have found they tend to be fairly equal.
						If you intend to stop along the way, we have recommendations in particular for Minneapolis, MN; Des Moines, IA; and Cedar Rapids IA.
					</p>
				</li><br/>
				<li>
					<h3>From the North</h3>
					<p>
						Enjoy the view, and wave to Canada on your way past!
					</p>
				</li>
			</ul>
		</div>
	</div>
</section>
