<div class="row">
	<header class="col-md-12">
		<h1>Things to Do in Madison</h1>
	</header>
</div>
<section ng-controller="ActivityController as actCtrl">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<h2>Why Madison?</h2>
			<p>
				Madison has been a vivid part of our story. The entire lifecycle of our relationship happened while living on the isthmus. <br/><br/>
				We know it's not close to everyone. The sad truth is, there is no one place near all the people we love. <br/><br/>
				So, we decided to share the beautiful corners of our home. We included a list of many of the amazing things that keep us living in Madison!
			</p>
			<img class="img-responsive center-block home-image" src="images/madison.jpg" alt="The city over the lake"/><br/>
			<h2>Things to Do</h2>
		</div>
	</div>
	<!--Activities list managed in app.js madison array -->
	<div class="row margin-bottom" ng-repeat="activity in actCtrl.list">
		<div class="col-md-offset-1 col-md-2">
			<h2>{{activity.category}}</h2>
		</div>
		<div class="col-md-8">
			<ul>
				<li ng-repeat="field in activity.items">
					<div class="text-center">
						<h3><a ng-href="{{field.link}}" target="_blank">{{field.name}}</a></h3>
						<p>{{field.description}}</p>
						<a ng-href={{field.map}} target="_blank">Map</a>
					</div>
				</li><br/>
			</ul>
		</div>
	</div>
</section>
