<div class="row">
	<header class="col-md-12">
		<h1>Our Wedding</h1><span class="glyphicon glyphicon-heart"></span>
	</header>
</div>
<section class="row">
	<div class="col-md-offset-1 col-md-10">
		<h2>Ceremony and Reception</h2>
		<div class="margin-top">
			<h3>Date</h3>
			<blockquote class="padding text-center margin-bottom">June 2, 2018</blockquote>
		</div>
		<div class="margin-top">
			<h3>Location</h3>
			<p>
				We will be married at the downtown location of the Madison Central library! Both the ceremony and reception will occur on library's third floor:
			</p>
			<blockquote class="padding text-center margin-bottom">
				201 W Mifflin St<br/>
				Madison, WI 53703<br/>
				608-266-6300<br/>
				<a href="http://www.madisonpubliclibrary.org/central" target="_blank">Website</a>
			</blockquote>
		</div>
		<div class="margin-top">
			<h3>Parking</h3>
			<p>Parking will be available near the library. The closest lot is:</p>
			<blockquote class="padding text-center margin-bottom">
				318 W Mifflin St<br/>
				Madison, WI 53703<br/>
			</blockquote>
			<p>Additional lots can be found on the library's website: <a href="http://www.cityofmadison.com/parking-utility/garages-lots/current-hourly-parking-availability" target="_blank">City of Madison Parking Availability</a>.</p>
		</div>
		<div class="margin-top">
			<h3>Map</h3>
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5828.918343864352!2d-89.387405!3d43.073841!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880653384de8858d%3A0xed7631ea3ec14d4a!2sMadison+Public+Library+%3A+Central+Library!5e0!3m2!1sen!2sus!4v1491946521721" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</section>
<section class="row">
	<div class="col-md-offset-1 col-md-10">
		<h2>Schedule of Events</h2>
		<p>We are still nailing down the details! Until we have a detailed schedule, this section can provide a high level overview. <br/> The wedding will begin in the afternoon, and the evening will include:</p>
		<ul>
			<li>Ceremony</li>
			<li>Cocktail hour</li>
			<li>Dinner</li>
			<li>Trivia</li>
		</ul>
	<!--
		<table class="table">
			<tr>
				<th>Time</th>
				<th>Event</th>
				<th>Location</th>
			</tr>
			<tr>
				<td>3 pm</td>
				<td>Ceremony</td>
				<td>Library Third Floor Atrium</td>
			</tr>
			<tr>
				<td>4 pm</td>
				<td>Cocktail Hour</td>
				<td>Library Third Floor Conference Room</td>
			</tr>
			<tr>
				<td>5:30 pm</td>
				<td>Meal Service</td>
				<td>Library Third Floor Atrium</td>
			</tr>
			<tr>
				<td>7:30 pm</td>
				<td>Trivia</td>
				<td>Library Third Floor Conference Room</td>
			</tr>
		</table> -->
	</div>
</section>