<div class="row">
  <header class="col-md-12">
     <h1>Our Story</h1>
  </header>
</div>
<section style="height: calc({{ timeline.height }}px + 8em)" ng-controller="TimelineController as timeline">
  <div id="timeline-container" style="height: {{ timeline.height }}px">
    <div id="timeline" style="height: {{ timeline.height }}px"></div>
    <div style="top: {{ event.position }}px;" class="line column{{ event.column }}" ng-repeat-start="event in timeline.events"></div>
    <div style="top: {{ event.position }}px" class="dot"></div>
    <div style="top: {{ event.position }}px" class="date">{{ event.readableDate }}</div>
    <div style="top: {{ event.position }}px" class="event column{{ event.column }}" ng-repeat-end>
      <div class="title">{{ event.title }}</div>
      <div class="description">{{ event.description }}</div>
    </div>
  </div>
</section>
