<div>
	<header>
		<h1>Our Registries</h1>
		<h2>Stuff we Like</h2>
		<h3>#HouseCrowlack</h3>
	</header>
</div>
<section>
	<div class= "row">
		<div class= "col-md-offset-2 col-md-8 intro-registry">
			<h2>Thank you so much for considering a gift. Follow the links below to our registries.</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-4 col-md-4 registry williams-sonoma">
			<h2><a href="https://secure.williams-sonoma.com/registry/grfprcj6kf/registry-list.html" target="_blank">Williams-Sonoma</a></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-4 col-md-4 registry bed-bath-beyond">
			<h2><a href="https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=544436768&eventType=Wedding&pwsurl=" target="_blank">Bed Bath &amp; Beyond</a></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-4 col-md-4 registry amazon">
			<h2><a href="https://www.amazon.com/wedding/tom-smilack-carrie-crow-madison-june-2018/registry/1NWCPF0V64LSV" target="_blank">Amazon</a></h2>
		</div>
	</div>
</section>