<div class="row">
	<header class="col-md-12">
		<h1>Our Registries</h1>
	</header>
</div>
<section>
	<div class= "row">
		<div class= "col-md-offset-1 col-md-10">
			<h2>Gifts</h2>
			<p>Everything we put on the registries we would love - but honestly, the most important gift you can bring us is your awesome self! We are pumped to spend our special day with you and feel very blessed to have you in our lives!</p>
		</div>
	</div>
	<div class="row registry-row">
		<a href="https://secure.williams-sonoma.com/registry/grfprcj6kf/registry-list.html" target="_blank">
         <img src="images/ws-logo.png" alt="Williams Sonoma">
      </a>
		<a href="https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=544436768&eventType=Wedding&pwsurl=" target="_blank">
         <img src="images/bbb-logo.png" alt="Bed Bath &amp; Beyond">
      </a>
		<a href="https://www.amazon.com/wedding/tom-smilack-carrie-crow-madison-june-2018/registry/1NWCPF0V64LSV" target="_blank">
         <img src="images/amazon-logo.png" alt="Amazon">
      </a>
	</div>
</section>