<div class="row">
  <header class="col-md-12">
     <h1>Our Story</h1>
  </header>
</div>
<section style="height: calc({{ timeline.height }}px + 6em); padding-top: 2em;" ng-controller="TimelineController as timeline" resize>
  <div id="timeline-container" style="height: {{ timeline.height }}px">
    <div id="timeline" style="height: {{ timeline.height }}px"></div>
    <div style="top: {{ event.position }}px; width: {{ event.lineLength }}%;" class="line" ng-repeat-start="event in timeline.events"></div>
    <div style="top: {{ event.position }}px" class="dot"></div>
    <div style="top: {{ event.position }}px" class="date">{{ event.readableDate }}</div>
    <div style="top: {{ event.position }}px; left: calc(25% + {{ event.lineLength }}%)" class="event" ng-repeat-end>
      <div class="title">{{ event.title }}</div>
      <div class="description">{{ event.description }}</div>
    </div>
  </div>
</section>