<div class="row">
	<header>
		<div class="col-md-8">
			<h1>Our Registries</h1>
		</div>
		<div class="col-md-4">
			<h2>Stuff we Like</h2>
		</div>
	</header>
</div>
<section>
	<div class= "row">
		<div class= "col-md-offset-1 col-md-10">
			<p>Your presence is gift enough of us. However, if you're considering a gift, follow the links below to our registries.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-4 col-md-4 registry box margin-top">
			<h4><a href="https://secure.williams-sonoma.com/registry/grfprcj6kf/registry-list.html" target="_blank">Williams-Sonoma</a></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-4 col-md-4 registry box margin-top">
			<h4><a href="https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=544436768&eventType=Wedding&pwsurl=" target="_blank">Bed Bath &amp; Beyond</a></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-4 col-md-4 registry box margin-top">
			<h4><a href="https://www.amazon.com/wedding/tom-smilack-carrie-crow-madison-june-2018/registry/1NWCPF0V64LSV" target="_blank">Amazon</a></h4>
		</div>
	</div>
</section>