<div class="row">
	<header>
		<div class="col-md-8">
			<h1>Why Madison?</h1>
		</div>
		<div class="col-md-4">
			<h2>A Fun time in the Mad City</h2>
		</div>
	</header>
</div>

<section ng-controller="ActivityController as actCtrl">
	<div class="row">
		<div class="col-md-offset-1 col-md-10 margin-bottom">
			<p>
				Madison has been a vivid part of our story. The entire lifecycle of our relationship - where we met, our first date, our first kiss, where we got engaged - all of it happened while living on the isthmus. <br/><br/>
				We know it's not close to everyone. The sad truth is, there is no one place near all the people we love. <br/><br/>
				So, we decided to share all the beautiful corners of our home. Explore all of the amazing things that keep us living in Madison!
			</p>
			<img class="img-responsive center-block home-image" src="http://cdn.newsmax.com/CMSPages/GetFile.aspx?guid=32cf0b2a-5274-4194-8c74-05140d230069&SiteName=Newsmax&maxsidesize=600" alt="The city over the lake"/>
		</div>
	</div>
	<!--Activities list managed in app.js madison array -->
	<div class="row margin-bottom" ng-repeat="activity in actCtrl.list">
		<div class="col-md-offset-1 col-md-2">
			<h2>{{activity.category}}</h2>
		</div>
		<div class="col-md-8">
			<ul>
				<li ng-repeat="field in activity.items">
					<div class="text-center padding">
						<h3><a ng-href="{{field.link}}" target="_blank">{{field.name}}</a></h3><br>
						<p>{{field.description}}</p>
						<a ng-href={{field.map}} target="_blank">Map</a>
					</div>
				</li>
			</ul>
		</div>
</section>